<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>
 
<p>
  <strong>Aim:</strong>
  <%= @project.text %>
</p>

<h2>Todos</h2>
<table>
<% @project.todo.each do |todo| %>
<tr>
  <% if todo.done== false %>
  <th>
    <strong>todos:</strong>
    <%= todo.task %>
	<td><%= link_to 'Edit', edit_project_todo_path(project_id: params[:id],todo_id: todo.id), method: :get  %></td>
	<td><%= button_to 'Destroy', project_todo_path(project_id: params[:id],todo_id: todo.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </th>
  
  <% end %>
  </tr>
<% end %>
</table>
<table>
<% @project.todo.each do |todo| %>
<tr>
  <% if todo.done== true %>
  
  <th>
    <strong>todone:</strong>
    <%= todo.task %>
	<td><%= button_to 'Destroy', project_todo_path(project_id: params[:id],todo_id: todo.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </th>
  <% end %>
  </tr>
<% end %>
</table>
<h2>Add a todo:</h2>
<%= link_to 'New_todo', new_project_todo_path(@project) %>
<%= link_to 'Back', projects_path %>